<a href="https://colab.research.google.com/github/douglascdsantos/alura-machine-learning-introducao-a-classificacao-com-sklearn/blob/main/machine_learning_introducao_a_classificacao_com_sklearn_aula2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Testes replicáveis, estratificação e lendo dados da internet

In [1]:
import pandas as pd

uri = 'https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv'

dados = pd.read_csv(uri)
dados

    home  how_it_works  contact  bought
0      1             1        0       0
1      1             1        0       0
2      1             1        0       0
3      1             1        0       0
4      1             1        0       0
..   ...           ...      ...     ...
94     0             0        1       0
95     1             1        1       1
96     0             0        1       0
97     0             1        0       0
98     0             0        0       0

[99 rows x 4 columns]

In [8]:
mapa = {
    'home' : 'principal',
    'how_it_works' : 'como_funciona',
    'contact' : 'contato',
    'bought' : 'comprou'
}
dados.rename(columns = mapa, inplace = True)

In [9]:
x = dados.iloc[:,:-1]
y = dados.iloc[:,-1]

In [10]:
dados.shape

(99, 4)

In [75]:
# escolhendo os dados de treino e teste aleatoriamente
index_treino = list(dados.sample(75).index)
index_teste = [i for i in dados.index if i not in index_treino]

treino_x = x.iloc[index_treino]
treino_y = y.iloc[index_treino]
teste_x = x.iloc[index_teste]
teste_y = y.iloc[index_teste]

print(f'Treinaremos com {len(treino_x)} elementos e tretaremos com {len(teste_y)} elementos')

from sklearn.svm import LinearSVC

model = LinearSVC()
model.fit(treino_x, treino_y)
previsoes = model.predict(teste_x)

from sklearn.metrics import accuracy_score

acuracia = accuracy_score(teste_y, previsoes) * 100
print(f'A acuracia foi {round(acuracia,2)}%')

Treinaremos com 75 elementos e tretaremos com 24 elementos
A acuracia foi 95.83%

In [98]:
from sklearn.model_selection import train_test_split

SEED = 20


treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, random_state = SEED, test_size = .25)
print(f'Treinaremos com {len(treino_x)} elementos e tretaremos com {len(teste_x)} elementos')

model = LinearSVC()
model.fit(treino_x, treino_y)
previsoes = model.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print(f'A acuracia foi {round(acuracia,2)}%')

Treinaremos com 74 elementos e tretaremos com 25 elementos
A acuracia foi 96.0%

In [99]:
treino_y.value_counts()

0    47
1    27
Name: comprou, dtype: int64

In [102]:
treino_y.value_counts()[0]/treino_y.value_counts()[1]

1.7407407407407407

In [107]:
teste_y.value_counts()

0    19
1     6
Name: comprou, dtype: int64

In [103]:
teste_y.value_counts()[0]/teste_y.value_counts()[1]

3.1666666666666665

In [108]:
from sklearn.model_selection import train_test_split

SEED = 20


treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, random_state = SEED, test_size = .25, stratify = y)
print(f'Treinaremos com {len(treino_x)} elementos e tretaremos com {len(teste_x)} elementos')

model = LinearSVC()
model.fit(treino_x, treino_y)
previsoes = model.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print(f'A acuracia foi {round(acuracia,2)}%')

Treinaremos com 74 elementos e tretaremos com 25 elementos
A acuracia foi 96.0%

In [109]:
treino_y.value_counts()

0    49
1    25
Name: comprou, dtype: int64

In [110]:
treino_y.value_counts()[0]/treino_y.value_counts()[1]

1.96

In [111]:
teste_y.value_counts()

0    17
1     8
Name: comprou, dtype: int64

In [112]:
teste_y.value_counts()[0]/teste_y.value_counts()[1]

2.125